<h2>Student!</h2>

<h3>First Name: <%= @student.first_name %></h3> <br>
<h3>Last Name: <%= @student.last_name %></h3><br>
<h3>Age: <%= @student.age %></h3><br>
<h3>Highest Education: <%= @student.education %></h3><br>
