<h2>Student!</h2>

<h3>First Name:</h3>  <%= @student.first_name %><br>
<h3>Last Name:</h3>  <%= @student.last_name %><br>
<h3>Age:</h3> <%= @student.age %><br>
<h3>Highest Education:</h3> <%= @student.education %><br>
