<div class="grid-container">
<h1>Create Course
  <div class="grid-item" > <%= link_to(image_tag("/assets/course.png"), new_course_path) %></div>
</h1>

<h1> Create Student
  <div class="grid-item"><%= link_to(image_tag("/assets/cohort.png"), new_cohort_path) %></div>
  </h1>
  <h1> Create Instructor
  <div class="grid-item"><%= link_to(image_tag("/assets/teacher.png"), new_instructor_path) %></div>
  </h1>

  <h1> Create Cohort
  <div class="grid-item"><%= link_to(image_tag("/assets/student.png"), new_student_path) %></div>
</h1>
</div>
