<h1>Create Your course</h1>
<%= form_for @course do |f| %>
<label>name</label><br>
 <%= f.text_field :name %><br>
 <label>hours</label><br>
 <%= f.text_field :hours %><br>




<p>
<%= f.submit %>
</p>
<% end %>
