
<footer>


  <div id="main-footer">
  <div id="footer">
  <ul class="foot">
    <li class="show"><%= link_to(image_tag("/assets/sleep.png"), logout_path, method: :delete) %>
      <span class="show-edt"> Log Out</span>
</li>
    <li>
      <a><img src="/assets/rocket.png" /></a>
    </li>
    <li>
      <a><img src="/assets/siri.png" /></a>
    </li>


      <li>
      <a><img src="/assets/linkedin-icon.png" ></a>
    </li>
<li>
<a><img src="/assets/atom.png"></a>
</li>
      <li>

      <a><img src="/assets/skype.png" /></a>
    </li>
    <li>
      <a><img src="https://img.icons8.com/ios/50/000000/mac-os.png"></a>
    </li>
    <li>
      <a><img src="/assets/safari-icon.png" /></a>
    </li>
      <li>

      <a><img src="/assets/notes.png" /></a>
    </li>

    <li>
    <a><img src="/assets/store.png" /></a>
  </li>
<li>

<a href="#" title=""><img src="/assets/settings.png" /></a>
</li>


<li>

  <a href="#" class="box6" style="display:none;"><img src="/assets/chrome-icon.png" /></a>
</li>


<li>
  <a><img src="/assets/garbage.png" /></a>
</li>

  </ul>
    </div>
  </div>


  <li style="list-style-type:none">

    <a href="#" class="box5" style="display:none;"><img src="/assets/screen.png" /></a>
    
  </li>
</footer>

<script>
  $(document).ready(function(){
 			$("#main-footer li").each(function (type) {
		     	$(this).hover(function () {
		      		$(this).prev("li").addClass("nearby");
		      		$(this).next("li").addClass("nearby");
		     	},
		     	function () {
		      		$(this).prev("li").removeClass("nearby");
		      		$(this).next("li").removeClass("nearby");
		     	});
		    });
		});

</script>
