
<footer>


  <div id="main-footer">
  <div id="footer">
  <ul class="foot">
    <li><%= link_to(image_tag("/assets/sleep.png"), logout_path, method: :delete) %>
</li>
    <li>
      <a><img src="/assets/chrome-icon.png" /></a>
    </li>


      <li>
      <a><img src="/assets/linkedin-icon.png" ></a>
    </li>
<li>
<a><img src="/assets/atom.png"></a>
</li>
      <li>

      <a><img src="/assets/linkedin-icon.png" /></a>
    </li>
    <li>
      <a><img src="https://img.icons8.com/ios/50/000000/mac-os.png"></a>
    </li>
    <li>
      <a><img src="/assets/safari-icon.png" /></a>
    </li>
      <li>

      <a><img src="/assets/chrome-icon.png" /></a>
    </li>

    <li>
    <a><img src="/assets/safari-icon.png" /></a>
  </li>

<li>

<a href="#" title=""><img src="/assets/linkedin-icon.png" /></a>
</li>


<li>

  <a href="#" class="box6" style="display:none;"><img src="/assets/chrome-icon.png" /></a>
</li>


  </ul>
    </div>
  </div>


  <li>

    <a href="#" class="box5" style="display:none;"><img src="/assets/screen.png" /></a>
  </li>
</footer>
